{%  extends 'base.html' %}


{% block nav %}

{% endblock %}

{% block top_bar %}
    {{block.super}}
{% endblock %}


{% block content %}
<pre class="">

</pre>

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h3>Password reset complete </h3>

                    <div class="row">

                          <div class="form-group col-12">

                            <p>Your Password has been set. You may go ahead and login</p>
                          </div>


                    </div>
                    <hr/>
                    <a class="text-dark text-bold" href="{% url 'login' %}"> Sign In</a>


            </div>
        </div>

    </div>
</section>

{% endblock %}

{% block footer %}

{% endblock %}