{%  extends 'base.html' %}

{%  block content %}

<div class="container text-center">

    Warehouse(s) Available Count: {{ warehouses.count }}
    <br/>

    <a class="btn btn-sm text-white" href="{% url 'packaging-service:warehouse_create' %}">Add New  Warehouse</a>

</div>

<div class="container mt-5">
    <ol>
        {% for warehouse in warehouses %}

                <li>
                    <a class="text-success" href="{% url 'packaging-service:warehouse_detail' warehouse.pk %}">{{ warehouse }}</a>

                </li>
        {%  endfor %}
    </ol>


    {% if warehouse.count == 3 %}
        <hr/>
<p class="text-danger">Warehouse is now full</p>
    {%  endif %}


</div>

{%  endblock %}