{%  extends 'base.html' %}

{%  block content %}


    Warehouse(s) Count: {{ warehouses.count }}
    <ol>
        {% for warehouse in warehouses %}

            {% if not customer.is_declined %}
                <li>
                    <a href="{% url 'packaging-service:warehouse_detail' customer.pk %}">{{ warehouse }}</a>

                    <a href="{% url 'packaging-service:warehouse_update' customer.pk %}">update Record: {{ warehouse }}</a>
                </li>
            {% endif %}
        {%  endfor %}
    </ol>


    {% if warehouse.count == 3 %}
        <hr/>
<p class="text-danger">ware house is now full</p>
    {%  endif %}


{%  endblock %}