{%  extends 'base.html' %}

{%  block content %}

<div class="container text-center">
    <h5>Warehouse Details</h5>
</div>

<div class="container">

    <a class="btn btn-sm text-white" href="{% url 'packaging-service:warehouse_create' %}">Add New  Warehouse</a>

    <h5>{{ warehouse.name }} Warehouse</h5>
    <p>Max Allowed Capacity (Kgs): {{ warehouse.max_allowed_capacity_in_kgs }}</p>
    <p>Available Space Capacity (Kgs): {{ warehouse.current_available_capacity }}</p>

    <div class="row">
        <a class="text-success col-md-6" href="{% url 'packaging-service:warehouse_update' warehouse.pk %}">Update</a>
        <a class="text-danger col-md-6" href="{% url 'packaging-service:warehouse_delete' warehouse.pk %}">Delete</a>
    </div>

</div>




{%  endblock %}