{%  extends 'base.html' %}

{%  block content %}

<div class="container text-center">
    <h5>Warehouse Details</h5>
</div>

<div class="container">

    <a class="btn btn-sm text-white" href="{% url 'packaging-service:warehouse_create' %}">Add New  Warehouse</a>

    <h5>{{ warehouse.name }} Warehouse</h5>
    <p>Max Allowed Capacity (Kgs): {{ warehouse.max_allowed_capacity_in_kgs }}</p>
    <p>Available Space Capacity (Kgs): {{ warehouse.current_available_capacity }}</p>

    <div class="row">
        <a class="text-success col-md-6" href="{% url 'packaging-service:warehouse_update' warehouse.pk %}">Update</a>
        <a class="text-danger col-md-6" href="{% url 'packaging-service:warehouse_delete' warehouse.pk %}">Delete</a>
    </div>

</div>
<hr/>
<div class="container">

    <h5>Warehouse SnapShot</h5>

    <div class="row">

    <h5 class="col-12">Lines</h5>
        <ol>
    {% for line in lines %}
            <li>
        <p class="col-12 text-dark">{{ line.name }}</p>
        <a class="col-12 text-success" href="{% url 'packaging-service:line_detail' line.pk %}">View Line Details</a>
            </li>
            <br/>
    {% endfor %}
        </ol>
    </div>

    <hr/>
    <div class="row">

    <h5 class="col-12">Racks</h5>
        <ol>
    {% for rack in racks %}
            <li>
        <p class="col-12 text-dark">{{ rack.name }}</p>
        <a class="col-12 text-success" href="{% url 'packaging-service:rack_detail' rack.pk %}">View Rack Details</a>
                <p class="ml-3 text-warning"><strong>Pallet in this rack</strong></p>
                {% for pallet in pallets %}
                    <p class="col-12 text-dark">Serial Number: {{ pallet.serial_number }}</p>
                    <a class="col-12 text-success" href="{% url 'packaging-service:pallet_detail' pallet.pk %}">View Pallet Details</a>
                {% endfor %}
                <hr/>
                <p class="ml-3 text-warning"><strong>Packages in this pallet</strong></p>
                {% for package in packages %}
                    <p class="col-12 text-dark">Package Name: {{ package.name }}</p>
                    <a class="col-12 text-success" href="{% url 'packaging-service:package_detail' package.pk %}">View Package Details</a>
                {% endfor %}

            </li>
            <br/>
    {% endfor %}
        </ol>
    </div>


</div>
<hr/>




{%  endblock %}