
<!-- Header Inner -->
<div class="header-inner">
	<div class="container">
		<div class="inner">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-12">
					<!-- Start Logo -->
					<div class="logo">
						<a href="{% url 'landing_page' %}">CompanyX App</a>
					</div>
					<!-- End Logo -->
					<!-- Mobile Nav -->
					<div class="mobile-nav"></div>
					<!-- End Mobile Nav -->
				</div>
				<div class="col-lg-7 col-md-9 col-12">
					<!-- Main Menu -->
					<div class="main-menu">
						<nav class="navigation">
							<ul class="nav menu">

								{% if request.user.is_authenticated %}
									<li class="active"><a>Packaging <i class="icofont-rounded-down"></i></a>
									<ul class="dropdown">
										<li><a href="{% url 'packaging-service:warehouse_list' %}">Warehouse</a></li>
										<li><a href="{% url 'packaging-service:rack_list' %}">Rack</a></li>
										<li><a href="{% url 'packaging-service:pallet_list' %}">Pallet</a></li>
										<li><a href="{% url 'packaging-service:line_list' %}">Line</a></li>
									</ul>
								</li>

								{%  endif %}



								{% if request.user.is_logistics_manager %}
									<li><a href="{% url 'packaging-service:line_list' %}">Approve Package Mix</a></li>

								</li>
								{%  endif %}




								{% if request.user.is_authenticated %}
{#									<li><a href="{%  url 'logout' %}">Log Out</a></li>#}


									<li><a href="{%  url 'password_change' %}">Change Password</a></li>

								{%  else %}
									<li><a href="{%  url 'login' %}">Log In</a></li>
									<li><a href="{% url 'user:signup' %}">Create Account</a></li>

								{%  endif %}

							</ul>
						</nav>
					</div>
					<!--/ End Main Menu -->
				</div>

			</div>
		</div>
	</div>
</div>
<!--/ End Header Inner -->

